body {
    background-color: rgb(48, 38, 64);
    color:aliceblue
}

h1{
    color: antiquewhite;
    text-align: center;
}
.heading{
    text-align: center;

}
#fdiv{
    height:200px;
    width: 200px;
    background-color: rgb(205, 88, 42);
    color: whitesmoke;
    text-align:center;
    border: 2px solid rgb(255, 255, 255);
}

.oldClass{
    color:aquamarine;
}

.newClass{
    background-color: rgb(129, 6, 45);
    
}